asn1crypto==1.5.1
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.11.1
black==22.3.0
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
commonmark==0.9.1
dateparser==1.1.1
debugpy==1.6.0
docutils==0.18.1
flake8==4.0.1
google-api-core==2.7.3
google-api-python-client==2.46.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
httplib2==0.20.4
idna==3.3
iniconfig==1.1.1
invoice2data==0.3.6
isort==5.10.1
lxml==4.8.0
mccabe==0.6.1
mypy-extensions==0.4.3
oauth2client==4.1.3
oauthlib==3.2.0
packaging==21.3
pathspec==0.9.0
pg8000==1.26.1
Pillow==9.1.0
platformdirs==2.5.2
pls==4.0.2
pluggy==1.0.0
protobuf==3.20.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydantic==1.9.0
pyflakes==2.4.0
Pygments==2.12.0
pyparsing==3.0.8
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.4.1
rich-cli==1.8.0
rich-rst==1.1.7
rsa==4.8
scramp==1.4.1
simplegmail==4.0.4
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
sqlalchemy2-stubs==0.0.2a22
sqlmodel==0.0.6
textual==0.1.18
toml==0.10.2
tomli==2.0.1
tweepy==4.9.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.26.9
